/target/
**/__pycache__/
*.py[cod]

/checkpoints/
/logs/
/mortal/logs/
/mortal/tb_log*/
/mortal/tmp_*.toml
/tmp_pip/

/mortal/checkpoints/*.pth
/mortal/checkpoints/**/*.pth
!/mortal/checkpoints/.gitkeep
/mortal/checkpoints/file_index*.pth
/mortal/checkpoints/grp_file_index_pt.pth

/.claude/settings.local.json
/console.log
